.container {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.register {
  display: flex;
  align-items: center;
  z-index: -1;
  transition: all 0.2s;
  /* transform: scale(0.6) translateX(38%); */
  animation-name: overshadowing-sx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.login {
  /* transform: translateX(12%); */
  position: absolute;
  z-index: -1;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  animation-name: overshadowing-sx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}
.show__register.register {
  z-index: 1;
  /* transform: scale(1) translateX(7%); */
  animation-name: foregrounding-sx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}
.show__login.login {
  z-index: 1;
  /* transform: translateX(0); */
  animation-name: foregrounding-sx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}
.main {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
}
.main button {
  width: 78%;
  text-transform: uppercase;
  font-weight: 600;
}
.main > * {
  width: 100%;
}
.main p {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin: 1rem;
  text-transform: uppercase;
}
.sub {
  width: 40%;
  align-self: stretch;
  background-color: var(--primary-color);
  background-image: linear-gradient(rgb(0, 250, 255), rgb(0, 110, 255));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: #fff;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  position: relative;
  margin-bottom: 1rem;
}

.input input {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  color: var(--primary-color);
  width: 70%;
}
.input input::placeholder {
  color: var(--primary-color);
}
.input input:focus {
  outline: none;
}
.icon {
  height: 4rem;
  box-shadow: 0rem 0 1rem var(--primary-color-light);
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
  background-color: #fff;
}

.input span {
  position: absolute;
  display: block;
  height: 4rem;
  width: 1.1rem;
  background-color: #fff;
  left: 17%;
}
.error {
  position: absolute;
  bottom: -1.5rem;
  color: red;
  font-weight: 600;
}
.server_error {
  color: red;
  text-align: center;
  font-weight: 600;
}
.sub {
  display: flex;
  flex-direction: column;
}

.sub p {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
}

.sub button {
  width: max-content;
  background-image: none;
  background-color: #fff !important;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.7rem;
  text-transform: uppercase;
}
.sm {
  text-transform: capitalize;
  display: none;
}
.sm p {
  font-size: 1.6rem;
  text-transform: capitalize;
}
.sm div {
  cursor: pointer;
  transition: all 0.2s;
}
.sm div:hover {
  text-decoration: underline;
}
@keyframes overshadowing-sx {
  0% {
    z-index: 2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  }
  100% {
    z-index: 1;
    transform: perspective(38px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  }
}

@keyframes foregrounding-sx {
  0% {
    z-index: 1;
    transform: perspective(100px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
  }
  50% {
    z-index: 2;
    transform: perspective(100px) translate3d(-400px, 0px, -30px);
  }
  100% {
    z-index: 2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

@media only screen and (max-width: 1070px) {
  .input span {
    left: 17.5%;
  }
}
@media only screen and (max-width: 850px) {
  .input span {
    left: 18%;
  }
}
@media only screen and (max-width: 767px) {
  .sub {
    display: none;
  }
  .register,
  .login {
    justify-content: center;
  }
  .sm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
  }
}
@media only screen and (max-width: 710px) {
  .input span {
    left: 19%;
  }
}
@media only screen and (max-width: 630px) {
  .input span {
    left: 19%;
  }
}
@media only screen and (max-width: 600px) {
  .main {
    width: 100%;
  }
  .input span {
    left: 18%;
  }
}
@media only screen and (max-width: 400px) {
  @keyframes overshadowing-sx {
    100% {
      transform: perspective(38px) translate3d(0px, 0px, -30px);
    }
  }
}
@media only screen and (max-width: 350px) {
  .input span {
    left: 19%;
  }
}
