.container {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--primary-color);
}
.register {
  display: flex;
  align-items: center;
  background-color: #fff;
}

.login {
  transform: translateX(20%);
  position: absolute;
  z-index: -1;
}
.main {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main button {
  width: 78%;
  text-transform: uppercase;
  font-weight: 600;
}
.main > * {
  width: 100%;
}
.main p {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin: 1rem;
  text-transform: uppercase;
}
.sub {
  width: 40%;
  align-self: stretch;
  background-color: var(--primary-color);
  background-image: linear-gradient(rgb(0, 250, 255), rgb(0, 110, 255));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: #fff;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  position: relative;
}

.input input {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  color: var(--primary-color);
  width: 70%;
}
.input input::placeholder {
  color: var(--primary-color);
}
.input input:focus {
  outline: none;
}
.icon {
  height: 4rem;
  box-shadow: 0rem 0 1rem rgba(0, 183, 255, 0.5);
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
  background-color: #fff;
}

.input span {
  position: absolute;
  display: block;
  height: 4rem;
  width: 1.1rem;
  background-color: #fff;
  left: 17%;
}
.sub {
  display: flex;
  flex-direction: column;
}

.sub p {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
}

.sub button {
  width: 70%;
  background-image: none;
  background-color: #fff !important;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.7rem;
  text-transform: uppercase;
}
