.container {
  font-size: 1.6rem;
  display: flex;
  background-color: var(--secondary-color);
  color: var(--dull-white);
  overflow: hidden;
}

.content {
  padding: 4rem;
  width: calc(100vw - 30rem);
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  overflow-y: auto;
}
.bottom {
  padding: 2rem;
}
.content input {
  background-color: var(--secondary-color);
  box-shadow: none;
  border-radius: 0%;
  color: var(--primary-color-light);
  width: 90%;
}
.property {
  border-bottom: 2px solid var(--primary-color-light);
  height: 8rem;
  margin-bottom: 3rem;
}
.property div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content svg {
  color: var(--primary-color-light);
}
.row > * {
  margin: 2rem 0;
}

.content label {
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: capitalize;
}

@media only screen and (max-width: 1000px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}
@media only screen and (max-width: 850px) {
  .content {
    grid-template-columns: 1fr;
  }
}
