.container {
  width: 30rem;
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--primary-color-light);
}

.container div {
  display: flex;
  align-items: center;
  height: 4rem;
  color: var(--black);
  margin: 1rem 0;
  transition: all 0.2s;
  padding: 2rem;
  border-radius: 0.2rem;
}

.container div:hover,
.active {
  background-color: var(--secondary-color);
  cursor: pointer;
  color: var(--dull-white) !important;
}

.container p {
  margin: 0%;
  margin-left: 1rem;
  font-weight: 600;
}
