.container {
  font-size: 1.6rem;
  display: flex;
  width: 100vw;
  position: fixed;
  right: 0%;
}
.auth__container.container {
  width: calc(100vw - 30rem);
}
.main {
  padding: 4rem;
  width: calc(100vw - 30rem);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}

@media only screen and (max-width: 767px) {
  .auth__container.container {
    width: 97vw;
    left: 0%;
  }
  .main {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
}
