.container {
  font-size: 1.6rem;
  display: flex;
}
.main {
  padding: 4rem;
  width: calc(100vw - 30rem);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}

@media only screen and (max-width: 767px) {
  .main {
    width: 100%;
  }
}
