.container {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100vh;
  width: calc(100vw - 30rem);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .container {
    width: 100vw;
  }
}
