.container {
  display: flex;
  font-size: 1.6rem;
  background-color: var(--secondary-color);
  color: var(--dull-white);
  min-height: 100vh;
}

.main {
  padding: 4rem;
  width: calc(100vw - 30rem);
}
.form_prt {
  width: 80%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0% auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.navigation div {
  width: 10rem;
  height: 4rem;
  background-color: var(--primary-color-light) !important;
  background-image: var(--primary-color-light) !important;
  color: var(--secondary-color);
  box-shadow: none;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navigation p {
  margin: 0;
}
.navigation div:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media only screen and (max-width: 767px) {
  .main {
    margin-top: 10rem;
  }
}
