.container {
  display: flex;
  font-size: 1.6rem;
  background-color: var(--secondary-color);
  color: var(--dull-white);
  height: 100vh;
  overflow-y: hidden;
}

.main {
  padding: 4rem;
  width: calc(100vw - 30rem);
  overflow-y: auto;
}
.form_prt {
  width: 80%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0% auto;
}
.form_prt form {
  width: 100%;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.navigation div {
  width: 10rem;
  height: 4rem;
  background-color: var(--primary-color-light) !important;
  background-image: var(--primary-color-light) !important;
  color: var(--secondary-color);
  box-shadow: none;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transform: scale(1);
}
.navigation p {
  margin: 0;
}
.hide_btn {
  transform: scale(0) !important;
}
.navigation div:hover {
  cursor: pointer;
  opacity: 0.8;
}

.navigation span {
  font-size: 1.8rem;
  font-weight: 700;
}

.input,
.select {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5rem;
}
.input input,
.select input {
  box-shadow: none;
  border-radius: 0;
  color: var(--primary-color-light);
  background-color: var(--secondary-color);
  border-bottom: 2px solid var(--primary-color-light);
}
.input input::-webkit-inner-spin-button,
.select input::-webkit-outer-spin-button {
  appearance: none;
}
.input label,
.select label {
  font-size: 1.9rem;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}
.FiChevronDown {
  border-bottom: 2px solid var(--primary-color-light);
  width: 5%;
}

.FiChevronDown svg {
  transform: rotate(0);
  transition: all 0.2s;
  color: var(--primary-color-light);
}
.FiChevronDown__open.FiChevronDown svg {
  transform: rotate(180deg);
}
.select_core {
  display: flex;
  position: relative;
  cursor: pointer;
}
.select_core input {
  width: 95%;
  cursor: pointer;
}
.dropdown {
  position: absolute;
  top: 5rem;
  background-color: var(--primary-color-light);
  border-radius: 0.5rem;
  width: 100%;
  max-height: 0%;
  overflow-y: auto;
  color: var(--secondary-color);
  font-weight: 600;
  transition: all 0.2s;
  z-index: 1;
}
.dropdown__show.dropdown {
  max-height: 40vh;
  border: 2px solid var(--primary-color);
}
.dropdown > * {
  padding: 1rem;
  height: 4rem;
  transition: all 0.2s;
}
.dropdown > *:hover,
.selected {
  background-color: var(--secondary-color);
  color: var(--dull-white);
  margin: 1px 0;
}
.dropdown p {
  margin: 0%;
}
.survey_image div {
  height: 20rem;
  width: 100%;
  border: 1px solid var(--primary-color-light);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 767px) {
  .main {
    margin-top: 10rem;
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .form_prt {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .main {
    padding: 2rem;
  }
}
